tr {
    display: flex;
    justify-content: space-between;
    width: 95%;
    /* cut text when overflowing */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem;
    border-bottom: 1px solid #e0e0e0;
    align-items: center;
}

td, th{
    display: flex;
    justify-content: space-between;
    width: 95%;
    /* cut text when overflowing */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem;
    align-items: center;
}
