tr {
    display: flex;
    justify-content: space-between;
    width: 95%;
    /* cut text when overflowing */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem;
    border-bottom: 1px solid #e0e0e0;
    align-items: center;
}

td, th{
    display: flex;
    justify-content: space-between;
    width: 95%;
    /* cut text when overflowing */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem;
    align-items: center;
}

.menu-btn:hover {
    cursor: pointer;
    color: #007bff;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    max-width: 50%;
    width: 100%;
    height: 100%;
}